=form_for @survey ,:url=>admin_survey_path(@survey), :html=>{:class=>"ajax-form","data-target"=>"#study_forms .accordion-inner"} do |f|
  .row-fluid
    =f.label :title
    =f.text_field :title,:class=>"input-xxlarge"
    =f.label :description
    =f.text_area :description,:rows=>2,:class=>"input-xxlarge"
    =f.label :code
    =f.text_field :code
  .row-fluid
    .btn-group
      =f.button "update",:class=>"btn btn-mini btn-success"
      =link_to 'cancel',admin_survey_path(@survey),"data-async"=>true,"data-target"=>"#study_forms .accordion-inner",:class=>"btn btn-mini btn-warning"



