=form_for @survey ,:url=>admin_surveys_path, :html=>{:class=>"form-horizontal ajax-form","data-target"=>"#forms", :id=> "admin_new_survey"} do |f|
  .control-group
    =f.label :title,:class=>"control-label"
    .controls
      =f.text_field :title,:class=>"input-xxlarge required"
      %small.text-error
        %i Required Field
  .control-group
    =f.label :description,:class=>"control-label"
    .controls
      =f.text_area :description,:rows=>2,:class=>"input-xxlarge"
  .control-group
    =f.label :code,:class=>"control-label"
    .controls
      =f.text_field :code
      %b NOTE:
      = "the codes 'child' and 'adult' are reserved and necessary for the system to function. They are the surveys that the system uses for chid and adult enrollments respectively."
  .control-group
    =f.label :multiple_section, "Has Multiple sections?",:class=>"control-label"
    .controls
      =f.check_box :multiple_section
  .row-fluid
    .btn-group
      =f.button "Update",:class=>"btn btn-mini btn-success"
      =link_to 'Cancel',admin_surveys_path,"data-async"=>true,"data-target"=>"#forms",:class=>"btn btn-mini btn-warning"
:javascript
  $(document).ready(function(){
    $('#admin_new_survey').validate();
  });


