=form_for @survey , :html=>{:class=>"ajax-form","data-target"=>"#study_forms .accordion-inner"} do |f|
  .row-fluid
    =f.hidden_field :study_id
    =f.label :title
    =f.text_field :title,:class=>"input-xxlarge"
    =f.label :description
    =f.text_area :description,:rows=>2,:class=>"input-xxlarge"
  .row-fluid
    .btn-group
      =f.button "update",:class=>"btn btn-mini btn-success"
      =link_to 'cancel',surveys_path(:study_id=>@survey.study.irb_number),"data-async"=>true,"data-target"=>"#study_forms .accordion-inner",:class=>"btn btn-mini btn-warning"



