=form_for @consent,:url=>admin_consent_path(@consent),:html=>{:class=>"form-horizontal"}  do |f|
  .row-fluid
    .control-group
      =f.label :content
      .controls
        =f.text_area :content,:class=>"wyswig"
    .control-group
      =f.label :consent_type
      .controls
        =f.select :consent_type, Consent::TYPES
  .row-fluid
    .btn-group
      =f.button "Update",:class=>"btn btn-success btn-small"
      =link_to "Cancel",admin_consents_path, :class=>"btn btn-warning btn-small"
