#consents.row-fluid
  =link_to "Add Consent", new_admin_consent_path,"data-async"=>true,"data-target"=>"#consents",:class=>"btn btn-primary btn-small"
  %table.table.bordered
    %thead
      %tr
        %th Consent.Type
        %th 
    %tbody
      -@consents.each do |consent|
        %tr
          %td=consent.consent_type
          %td=link_to "Edit", edit_admin_consent_path(consent)
