=form_for @consent,:url=>admin_consents_path,:html=>{:class=>"form-horizontal"}  do |f|
  .row-fluid
    .control-group
      =f.label :content
      .controls
        =f.text_area :content,:class=>"input-block-level",:rows=>10
    .control-group
      =f.label :consent_type
      .controls
        =f.select :consent_type, Consent::TYPES
  .row-fluid
    .btn-group
      =f.button "Create",:class=>"btn btn-success btn-small"
      =link_to "Cancel",admin_consents_path, :class=>"btn btn-warning btn-small"
