=form_for @contact_log, :html=>{:class=>"ajax-form form-horizontal", "data-target"=>"#contact_log"} do |f|
  .row-fluid
    =f.hidden_field :participant_id
    .control-group
      =f.label :date
      .controls
        =f.text_field :date,:class=>"input-small","data-provide"=>"datepicker","data-date-format"=>"yyyy-mm-dd"
    .control-group
      =f.label :notes
      .controls
        =f.text_area :notes,:rows=>3
  .row-fluid
    .btn-group
      =f.button "Update",:class=>"btn btn-mini btn-success"
      =link_to "Cancel",study_involvements_path(:participant_id=>@contact_log.participant.id),:class=>"btn btn-mini btn-warning","data-async"=>true,"data-target"=>"#contact_log"
