=form_for @response_set,:url=>admin_response_sets_path,:html=>{:class=>"form-horizontal ajax-form","data-target"=>"#instruments"} do |f|
  =f.hidden_field :participant_id
  .control-group
    =f.label 'survey_id','Select Form',:class=>"control-label"
    .controls
      =f.select :survey_id,@surveys.map{|s|[s.title,s.id]},{:prompt => 'Select Form'}
  .control-group
    =f.label :public,'Send to Participant:',:class=>"control-label"
    .controls
      =f.check_box :public
  .control-group
    .controls
      .btn-group
        =f.button "Start",:class=>"btn btn-success btn-mini"
        =link_to "cancel", response_sets_path(:participant_id=>@participant.id),"data-async"=>true,"data-target"=>"#instruments",:class=>"btn btn-warning btn-mini"

