.navbar.pull-center
  = link_to image_tag("crr_logo.png"), "http://nucats.northwestern.edu/"
  = link_to image_tag("nucats_logo.gif"), "http://nucats.northwestern.edu/"
  = link_to image_tag("nubic_logo.gif"), "http://www.nucats.northwestern.edu/centers/nubic/index.html"