= link_to "Create Instrument", new_survey_path,"data-async"=>true,"data-target"=>"#forms",:class=>"btn btn-mini btn-primary"
%table.display.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th Form Title
      %th description
      %th State
      %th 
  %tbody
    -Survey.all.each do |survey|
      %tr
        %td=survey.title
        %td=survey.description
        %td=survey.active? ? "Active" : "Inactive"
        %td= link_to "View/Edit", survey,"data-async"=>true,"data-target"=>"#forms",:class=>"btn btn-mini btn-primary"

