=form_for @participant  do |f|
  .well.well-small
    %h5="Participant Information"
  .row-fluid
    .span4
      .control-group
        =f.label :first_name, "First Name"
        .controls
          =f.text_field  :first_name
      .control-group
        =f.label :midlle_name, "Middle Name"
        .controls
          =f.text_field  :middle_name
      .control-group
        =f.label :last_name, "Last Name"
        .controls
          =f.text_field  :last_name
    .span4
      .control-group
        =f.label :address_line1, "Address Line1"
        .controls
          =f.text_field  :address_line1
      .control-group
        =f.label :address_line2, "Address Line2"
        .controls
          =f.text_field  :address_line2
      .control-group
        =f.label :city
        .controls
          =f.text_field  :city
      .control-group
        =f.label :state
        .controls
          =f.text_field  :state
      .control-group
        =f.label :zip
        .controls
          =f.text_field  :zip
    .span4
      .control-group
        =f.label :email, "Email Address"
        .controls
          =f.text_field  :email
      .control-group
        =f.label :primary_phone, "Primary Phone Number"
        .controls
          =f.text_field  :primary_phone
      .control-group
        =f.label :secondary_phone, "Secondary Phone Number"
        .controls
          =f.text_field  :secondary_phone
  -if @participant.proxy?
    = render :partial => 'participant_guardian', :locals => {:f => f}
  .row-fluid
    .btn-group
      =f.button "Save",:class=>"btn btn-success"
      =link_to "Cancel", dashboard_path, :class=>"btn btn-warning"
