.row-fluid
  %h4="Child Participant"
  .control-group
    =f.label :first_name, "Child's First Name", :class => "control-label"
    .controls
      =f.text_field  :first_name, :class => "required"
      %small.text-error
        %i (Required Field)
  .control-group
    =f.label :last_name, "Child's Last Name", :class => "control-label"
    .controls
      =f.text_field  :last_name, :class => "required"
      %small.text-error
        %i (Required Field)
.row-fluid
  %h4="Household Information"
  .control-group
    =f.label :address_line1, "Address", :class => "control-label"
    .controls
      =f.text_field  :address_line1
  .control-group
    =f.label :address_line2, "Address Line 2", :class => "control-label"
    .controls
      =f.text_field  :address_line2
  .control-group
    =f.label :city, :class => "control-label"
    .controls
      =f.text_field  :city
  .control-group
    =f.label :state, :class => "control-label"
    .controls
      =f.select :state, us_states, { prompt: 'Select State'}
  .control-group
    =f.label :zip, :class => "control-label"
    .controls
      =f.text_field  :zip, class: "zipcode"
  .control-group
    =f.label :primary_phone, "Primary Phone Number", :class => "control-label"
    .controls
      =f.text_field  :primary_phone, class: "phone", placeholder: "xxx-xxx-xxxx"
  .control-group
    =f.label :secondary_phone, "Secondary Phone Number", :class => "control-label"
    .controls
      =f.text_field  :secondary_phone, class: "phone", placeholder: "xxx-xxx-xxxx"
.row-fluid
  %h4="Child's Parent/Guardian"
  .control-group
    =f.label :primary_guardian_first_name, "First Name", :class => "control-label"
    .controls
      =f.text_field :primary_guardian_first_name, class: "required"
      %small.text-error
        %i (Required Field)
  .control-group
    =f.label :primary_guardian_last_name, "Last Name", :class => "control-label"
    .controls
      =f.text_field :primary_guardian_last_name, class: "required"
      %small.text-error
        %i (Required Field)
  .control-group
    =f.label :primary_guardian_email, "Email Address", :class => "control-label"
    .controls
      =f.text_field :primary_guardian_email, class: "email"
  .control-group
    =f.label :primary_guardian_phone, "Phone Number", :class => "control-label"
    .controls
      =f.text_field :primary_guardian_phone, class: "phone", placeholder: "xxx-xxx-xxxx"
.row-fluid
  %h4="Child's Parent/Guardian"
  .control-group
    =f.label :secondary_guardian_first_name, "First Name", :class => "control-label"
    .controls
      =f.text_field :secondary_guardian_first_name
  .control-group
    =f.label :secondary_guardian_last_name, "Last Name", :class => "control-label"
    .controls
      =f.text_field :secondary_guardian_last_name
  .control-group
    =f.label :secondary_guardian_email, "Email Address", :class => "control-label"
    .controls
      =f.text_field :secondary_guardian_email, class: "email"
  .control-group
    =f.label :secondary_guardian_phone, "Phone Number", :class => "control-label"
    .controls
      =f.text_field :secondary_guardian_phone, class: "phone", placeholder: "xxx-xxx-xxxx"