.row-fluid
  %h4="Primary Guardian:"
.row-fluid
  .span4
    .control-group
      =f.label :primary_guardian_first_name, "First Name"
      .controls
        =f.text_field :primary_guardian_first_name
  .span4
    .control-group
      =f.label :primary_guardian_last_name, "Last Name"
      .controls
        =f.text_field :primary_guardian_last_name
  .span4
    .control-group
      =f.label :primary_guardian_email, "Email Address"
      .controls
        =f.text_field :primary_guardian_email
    .control-group
      =f.label :primary_guardian_phone, "Phone Number"
      .controls
        =f.text_field :primary_guardian_phone
.row-fluid
  %h4="Secondary Guardian:"
.row-fluid
  .span4
    .control-group
      =f.label :secondary_guardian_first_name, "First Name"
      .controls
        =f.text_field :secondary_guardian_first_name
  .span4
    .control-group
      =f.label :secondary_guardian_last_name, "Last Name"
      .controls
        =f.text_field :secondary_guardian_last_name
  .span4
    .control-group
      =f.label :secondary_guardian_email, "Email Address"
      .controls
        =f.text_field :secondary_guardian_email
    .control-group
      =f.label :secondary_guardian_phone, "Phone Number"
      .controls
        =f.text_field :secondary_guardian_phone