- # THis partial expects a "membership_state" local var
-step_content = {:consent => "Consent",
  :demographics =>  "Contact Information",
  :survey => "Registry Questions",
  :survey_started => "Registry Questions"}
%ul.breadcrumb.text-center
  -participant_steps.each_with_index do |s,i|
    -sc = step_content[s]
    %li{:class=>"#{'muted' if s != participant_state.to_sym}"}
      =i+1
      ="."
      =sc
      -if i != participant_steps.size-1
        %span.divider >
