- # THis partial expects a "membership_state" local var
-step_content = {:consent => "Consent",
  :demographics =>  "Contact Information",
  :survey => "Survey",
  :survey_started => "Survey"}
/ %ul.breadcrumb.text-center
.row-fluid
  .span3
  -participant_steps.each_with_index do |s,i|
    -sc = step_content[s]
    -if s != participant_state.to_sym
      .span2.muted
        .progressbar-nonactive.input-append
          =i+1
        =sc
    -else
      .span2
        .progressbar.input-append
          =i+1
        =sc
  .span3

