=f.fields_for :relationships, index: index do |relationships_field|
  .row-fluid
    %b
      %span.participant_full_name
    %span is the
    = relationships_field.select :category, Relationship::CATEGORIES, { prompt: 'Select Relationship'} , :class => "required"
    %span of
    %b
      =destination_participant.name
    = relationships_field.hidden_field :destination_id,:value => destination_participant.id