=f.fields_for :relationships, index: index do |relationships_field|
  .row-fluid
    .span2
      Participant is the
    .span2
      = relationships_field.select :category, Relationship::CATEGORIES, { prompt: 'Select Relationship'} , :class => "required"
    .span1
      of
    .span2
      = destination_participant.name
      = relationships_field.hidden_field :destination_id,:value => destination_participant.id