=form_for @participant  do |f|
  .row-fluid
    .span4
      .control-group
        =f.label :first_name
        .controls
          =f.text_field  :first_name
      .control-group
        =f.label :midle_name
        .controls
          =f.text_field  :middle_name
      .control-group
        =f.label :last_name
        .controls
          =f.text_field  :last_name
      .control-group
        =f.label :do_not_contact
        .controls
          =f.check_box  :do_not_contact
    .span4
      .control-group
        =f.label :address_line1
        .controls
          =f.text_field  :address_line1
      .control-group
        =f.label :address_line2
        .controls
          =f.text_field  :address_line2,:class=>"input-small"
      .control-group
        =f.label :city
        .controls
          =f.text_field  :city
      .control-group
        =f.label :state
        .controls
          =f.text_field  :state
      .control-group
        =f.label :zip
        .controls
          =f.text_field  :zip
    .span4
      .control-group
        =f.label :email
        .controls
          =f.text_field  :email
      .control-group
        =f.label :primary_phone
        .controls
          =f.text_field  :primary_phone
      .control-group
        =f.label :secondary_phone
        .controls
          =f.text_field  :secondary_phone
  .row-fluid
    .control-group
      =f.label :notes
      .controls
        =f.text_area  :notes,:rows=>3,:class=>"input-block-level"
  .row-fluid
    .btn-group
      =f.button "Save",:class=>"btn btn-success"
      =link_to "Cancel",@participant,:class=>"btn btn-warning"
