.row-fluid
- if @participant.open?
  =render(:partial => "participant_progress", :locals => {:participant_state => @participant.stage, :participant_steps => @participant.filled_states})
- if @participant.consent?
  = render :partial => 'participant_consent'
- elsif @participant.demographics?
  = render :partial => 'participant_demographic'
- elsif @participant.completed?
  %h5="Thank you for participation! Someone from CRR will contact you if more information is needed."
- elsif @participant.consent_denied?
  %h5="Thank you for your currrent interest. If you are interested again in future for participating, you can always come back."
- elsif @participant.withdrawn?
  %h5="We are sorry to see you leave. If you change your mind in fuiture, you can always come back and sign up again."
:javascript
  $(document).ready(function(){
    $('#participant_demographic').validate({
      messages: {
        "participant[first_name]": "Please enter participant's First Name.",
        "participant[last_name]": "Please enter participant's Last Name.",
        "participant[primary_guardian_first_name]": "Please enter primary guardian's First Name.",
        "participant[primary_guardian_last_name]": "Please enter primary guardian's Last Name."
      }
    });

    $("#new-consent-sign").validate({
      messages: {
        "consent_signature[proxy_name]": "Please enter your name.",
        "consent_signature[proxy_relationship]": "Please enter your relatiohsip to participant."
      }
    });
    $("#consent-next").attr("disabled", "disabled");
    $(".proxy-consent").hide();
    $(".consent-agree").click(function(){
      $(".proxy-consent").show();
      $("#consent_response").val("accept");
      $("#consent-next").removeAttr("disabled");
    });
    $(".consent-disagree").click(function(){
      $(".proxy-consent").hide();
      $("#consent_response").val("decline");
      $("#consent-next").removeAttr("disabled");
    });
  });