=form_for @section ,:url=>admin_section_path(@section) ,:html=>{:class=>"ajax-form","data-target"=>"#study_forms .accordion-inner"} do |f|
  .row-fluid
    =f.label :title
    =f.text_field :title
    =f.label :display_order
    =f.select :display_order, (1..@section.survey.sections.size+1).collect{|display_order| [display_order,display_order]},{},:class=>"input-mini"
  .row-fluid
    .btn-group
      =f.button "update",:class=>"btn btn-mini btn-success"
      =link_to 'cancel',admin_survey_path(@section.survey),"data-async"=>true,"data-target"=>"#study_forms .accordion-inner",:class=>"btn btn-mini btn-warning"



