%table.table.table-bordered.table-condensed
  %thead
    %tr
      %th Study
      %th State
      %th Request Date
      %th Release Date
  %tbody
    -@searches.each do |search|
      -if can? :show, search
        %tr
          %td=search.study.name
          %td=link_to search.state.titleize,admin_search_path(search)
          %td=search.request_date
          %td=search.process_date

