%table.table.bordered
  %thead
    %tr
      %th Study
      %th State
      %th Request Date
      %th Release Date
  %tbody
    -@searches.each do |search|
      -if can? :show, search
        %tr
          %td=search.study.irb_number
          %td=link_to search.state.titleize,admin_search_path(search)
          %td=search.request_date
          %td=search.process_date
  
