#search
  = render partial: 'header'
  .row-fluid
    .span12.search-container
      %h5 Filter participants by folowing conditions
      = render partial: 'admin/search_condition_groups/search_condition_group', locals: { search_condition_group: @search.search_condition_group }
  = render partial: 'results'
