=form_for @response_set,:class=>"form-horizontal" do |f|
  =f.hidden_field :involvement_id
  .control-group
    =f.label 'survey_id','Select Form',:class=>"control-label"
    .controls
      =f.select :survey_id,@surveys.map{|s|[s.title,s.id]},{:prompt => 'Select Form'}
  .control-group
    =f.label 'visit_name',:class=>"control-label"
    .controls
      =f.text_field :visit_name,:class=>"input-small"
  .control-group
    =f.label :effective_date,'Visit Date',:class=>"control-label"
    .controls
      =f.text_field :effective_date,:class=>"input-small","data-provide"=>"datepicker","data-date-format"=>"yyyy-mm-dd"
  .control-group
    .controls
      .btn-group
        =f.submit "Start",:class=>"btn btn-success btn-mini"
        =link_to "cancel", forms_involvement_path(@involvement),"data-async"=>true,"data-target"=>"#involvement_forms .accordion-inner",:class=>"btn btn-warning btn-mini"

