.row-fluid
  .span12
    %h4.text-center= @response_set.survey.title
    %hr
.row-fluid
  .span12
    - @response_set.survey.sections.each do |section|
      -if @response_set.survey.sections.size> 1
        %h4=section.title
      -section.questions.each do |question|
        .row-fluid
          .span12
          %h5=question.text.html_safe
        -unless question.response_type.eql?("none")
          .row-fluid
            .offset1
              %h6.muted Responses:
            .offset2
              -answers = @response_set.responses.select{|r| r.question.eql?(question)}
              -if answers.empty?
                ="No Response"
              -else
                %ul
                  -answers.each do |answer|
                    %li=answer.to_s
.row-fluid
  =link_to "Return", dashboard_path,:class=>"btn btn-success btn-mini btn-block"

