.row-fluid
  %p
    ="What is the Communication Research Registry?"
    %em.muted
      A confidential database that connects you with research study opportunities at Northwestern University.
  %p
    ="How do I join or add family members to the Registry?"
    %em.muted
      After creating an account, just.
.row-fluid
  .span2
  .span3
    .progressbar.input-append
      =1
    Sign a consent
  .span3
    .progressbar.input-append
      =2
    Fill in contact information
  .span3
    .progressbar.input-append
      =3
    Take a short survey
.row-fluid
  .span2
  .span3
    =image_tag("consent.png")
  .span3
    =image_tag("contact.png")
  .span3
    =image_tag("survey.png")