.row-fluid
  %p
    ="What is the Communication Research Registry?"
    %em.muted
      A confidential database that connects you with research study opportunities at Northwestern University.
  %p
    ="How do I join or add family members to the Registry?"
    %em.muted
      You can sign up yourself, your biological child/children, as well as any child or adult for whom you act as a legal guardian or authorized agent. After creating an account, follow these steps:
.row-fluid
  .span2
  .span3
    .progressbar.input-append
      =1
    Sign a consent
  .span3
    .progressbar.input-append
      =2
    Fill in contact information
  .span3
    .progressbar.input-append
      =3
    Take a short survey
.row-fluid
  .span2
  .span3.consent-icon
    =image_tag("consent.png")
  .span3.contact-icon
    =image_tag("contact.png")
  .span3.survey-icon
    =image_tag("survey.png")