=form_for @answer, :html=>{:class=>"ajax-form form-horizontal","data-target"=>"#q_#{@question.id}"} do |f|
  .row-fluid
    =f.hidden_field :question_id
    .control-group
      =f.label :text
      .controls
        =f.text_area :text,:rows=>3
    .control-group
      =f.label :reference
      .controls
        =f.text_field :reference
    .control-group
      =f.label :weight
      .controls
        =f.text_field :weight, :size=>2
    .control-group
      =f.label :display_order
      .controls
        =f.select :display_order, (0..@answer.question.answers.size).collect{|display_order| [display_order,display_order]},:class=>"input-mini"
  .row_fluid
    .btn-group
      =f.button "update",:class=>"btn btn-mini btn-success"
      =link_to 'cancel',question_path(@question),"data-async"=>true,"data-target"=>"#q_#{@question.id}",:class=>"btn btn-mini btn-warning"


  
