.progressbar, .progressbar-nonactive{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 8px;
  color: white;
  text-align: center;
  font-size: 100%;
}

.user-circle{
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: green;
  margin: 0 auto;
}

.infosqaure{
  border-radius: 10%;
  font-size: 100%;
  display: inline-block;
  line-height: 20px;
  margin-bottom: 0;
  padding: 4px 12px;
  text-align: center;
  background: #b1a1c6;
  color: #27071c;
  font-weight: bold;
}

.nu-primary{
  background:  #622160
  /*#520063;*/
}

.nu-header {
  font-size: 200%;
  font-weight: bold;
}
.progressbar-nonactive {
  background: #dfd9e8;
  /*#996699;*/
}

.nu-well, .nu-primary[disabled], .nu-primary:disabled, .progressbar, .nu{
  background: #b1a1c6;
  color: #27071c
}

.nu-primary:active, .nu-primary.active, .nu-primary:hover, .nu-primary:focus, .tabbable a:hover{
  background: #491847;
}

a{
  color: #27071c
}

.tabbable ul.nav-tabs > .active > a, .tabbable ul.nav-tabs > .active > a:hover, .tabbable ul.nav-tabs > .active > a:focus {
  background: #b1a1c6;
  color: #27071c
}

.radio-inline label {
  display: inline-block;
  margin-right: 20px;
}

.consent-content {
  padding: 0 10px;
}

.nu-incomplete-link a{
  color: red !important;
}

.consent-icon {
  padding-left: 40px;
}

.contact-icon {
  padding-left: 70px;
}

.survey-icon {
  padding-left: 55px;
}

.nu-offset {
  padding-left: 2%;
}

.nu-condition ~ .nu-operator {
    background:red;
    display:inline;
    float: right;
}

.modal-large {
    width: 80%;
    margin-left:-40%;
}

.modal {
  position: absolute;
}

.contact, .contact-log {
  background: #f3eaf7;
}

.contact, .relationship, .study-history, .contact-log {
  padding: 5px 10px;
}

.controls > ul.token-input-list,  .controls > ul.token-input-list-facebook{
  float: left;
  margin-top: -30px;
}