=form_for @answer, :url=>admin_answer_path(@answer),:html=>{:class=>"ajax-form form-horizontal","data-target"=>"#answer_#{@answer.id}"} do |f|
  .row-fluid
    .span3
      =f.text_field :text,:class=>"input-large",:placeholder=>"answer text..."
    .span2
      =f.text_field :code,:class=>"input-mini",:placeholder=>"code..."
    .span2
      .btn-group
        =f.button "Update",:class=>"btn btn-mini btn-success"
        =link_to 'Cancel',admin_answer_path(@answer),"data-async"=>true,"data-target"=>"#answer_#{@answer.id}",:class=>"btn btn-mini btn-warning"



