=form_for @answer, :url=>admin_answers_path,:html=>{:class=>"ajax-form form-horizontal","data-target"=>"#q_#{@question.id}", :id=> "admin_new_answer"} do |f|
  .row-fluid
    =f.hidden_field :question_id
    .span3
      =f.text_field :text,:class=>"input-large required",:placeholder=>"answer text"
      %small
        %i (Required Field)
    .span2
      =f.text_field :code,:class=>"input-mini required",:placeholder=>"code"
      %small
        %i (Required Field)
    .span2
      .btn-group
        =f.button "Update",:class=>"btn btn-mini btn-success"
        =link_to 'Cancel',admin_question_path(@question),"data-async"=>true,"data-target"=>"#q_#{@question.id}",:class=>"btn btn-mini btn-warning"
:javascript
  $(document).ready(function(){
    $('#admin_new_answer').validate();
  });

