=form_for @answer, :url=>admin_answers_path,:html=>{:class=>"ajax-form form-horizontal","data-target"=>"#q_#{@question.id}"} do |f|
  .row-fluid
    =f.hidden_field :question_id
    .span3
      =f.text_field :text,:class=>"input-large",:placeholder=>"answer text..."
    .span2
      =f.text_field :code,:class=>"input-mini",:placeholder=>"code..."
    .span2
      .btn-group
        =f.button "update",:class=>"btn btn-mini btn-success"
        =link_to 'cancel',admin_question_path(@question),"data-async"=>true,"data-target"=>"#q_#{@question.id}",:class=>"btn btn-mini btn-warning"


  
