=form_for @consent,:class=>"form-horizontal"  do |f|
  .row-fluid
    .control-group
      =f.label :content
      .controls
        =f.text_area :content
    .control-group
      =f.label :consent_type
      .controls
        =f.select :consent_type, Consent::TYPES
  .row-fluid
    .btn-group
      =f.button "Create",:class=>"btn btn-success"