%p
  Dear Registry participant,

%p
  Thank you for being a part of the Communication Research Registry at Northwestern University.

%p
  Based on survey responses you provided while signing up, we feel that additional information would help us find research studies that are good matches for your child/children. If possible, please log on to your account at
  = link_to "Communication Research Registry sign-in page ", public_root_url
  to complete a follow-up survey. This survey is optional and not required for your child/children’s continued participation in the Registry.

%p
  If you have any questions or if you think you have received this email in error, please contact Registry staff at 855-354-3273/commresearchregistry@northwestern.edu.

%p
  Thanks again,
  %br
  The Communication Research Registry Team