%p
  Dear Registry participant,

%p
  Thank you so much for your participation in the Communication Research Registry at Northwestern University.

%p
  After reviewing your intake survey, our staff noted that additional information would be helpful to us in finding research studies that are the best matches for you. Please log on to your account at
  = link_to "Comm Research Sign up link", public_root_url
  to find and complete the new survey listed under “Pending surveys”.

%p
  If you have any questions or if you think you have received this email in error, please contact the Registry Coordinator, Kathy McGroarty-Torres, at 847-491-2081 or k-mcgroarty-torres@northwestern.edu.

%p
  Thanks again,
  %br
  The Communication Research Registry Team