- available_questions ||= @available_questions
#question_list.modal.hide.large
  .modal-header
    %button.close{ data: { dismiss: 'modal' } }
      &times;
    %h5
      Search survey questions
  .modal-body
    .row-fluid
      .span12
        %table.table.table-bordered.table-hover.question_list
          %thead
            %tr
              %th Survey
              %th Active
              %th Section
              %th Text
              %th Answers
              %th
          %tbody
            - available_questions.each do |question|
              %tr.show-hide-container
                %td
                  = question.survey_title
                %td
                  - if question.section.survey.state == 'active'
                    .user-circle.input-append
                %td
                  = question.section.title
                %td
                  = question.text
                %td
                  - if question.true_date?
                    [date]
                  - elsif question.short_text? || question.long_text?
                    [free text]
                  - elsif question.number?
                    [number]
                  - elsif question.multiple_choice?
                    - question.answers.each do |answer|
                      = answer.text
                      %br
                %td
                  %button.btn.btn-success.btn-small.select_question{ data: { dismiss: 'modal', value: question.id }}
                    Select

  .modal-footer
    %button.btn{ data: { dismiss: 'modal' }}
      Close