=form_for @question, :url=>admin_questions_path,:html=>{:class=>"ajax-form form-horizontal","data-target"=>"#section_#{@question.section.id}", :id=>"admin_new_question"} do |f|
  .row-fluid
    =f.hidden_field :section_id
    =f.text_area :text,:rows=>1,:class=>"input-xxlarge required"
    %small.text-error
      %i Required field
    =f.text_field :help_text,:placeholder=>"Hint text..."
  .row-fluid
    %h6.muted Options
  .row-fluid
    .span3
      =f.select :response_type, Question::VALID_RESPONSE_TYPES.collect{|k|[ Question::VIEW_RESPONSE_TYPE_TRANSLATION[k],k]}
    .span3
      .control-group
        =f.label :code,"Code",:class=>"control-label"
        .controls
          =f.text_field :code,:class=>"input-small required"
          %small.text-error
            %i Required field
    .span3
      .control-group
        =f.label :display_order,:class=>"control-label"
        .controls
          =f.select :display_order, (1..@question.section.questions.size+1).collect{|display_order| [display_order,display_order]},{},:class=>"input-mini"
  .row-fluid
    .span3
      .control-group
        =f.label :is_mandatory ,"Mandatory",:class=>"control-label"
        .controls
          =f.check_box :is_mandatory
  .row-fluid
    .btn-group
      =f.button "Update",:class=>"btn btn-mini btn-success"
      =link_to 'Cancel',admin_section_path(@question.section),"data-async"=>true,"data-target"=>"#section_#{@question.section.id}",:class=>"btn btn-mini btn-warning"
:javascript
  $(document).ready(function(){
    $('#admin_new_question').validate();
  });

