=form_for @study,:url=>admin_study_path(@study), :html => {:class=>"form-horizontal", id: "admin_edit_study"}  do |f|
  .row-fluid
    .control-group
      =f.label :irb_number
      .controls
        =f.text_field :irb_number,:class=>"input-small"
    .control-group
      =f.label :name
      .controls
        =f.text_field :name,:class=>"input-xxlarge"
    .control-group
      =f.label :short_title
      .controls
        =f.text_field :short_title,:class=>"input-xxlarge"
    .control-group
      =f.label :sites
      .controls
        =f.text_field :sites,:class=>"input-xxlarge"
    .control-group
      =f.label :pi_name
      .controls
        =f.text_field :pi_name
    .control-group
      =f.label :pi_email
      .controls
        =f.text_field :pi_email
    .control-group
      =f.label :other_investigators
      .controls
        =f.text_area :other_investigators,:class=>"input-xxlarge",:rows=>3
    .control-group
      =f.label :contact_name
      .controls
        =f.text_field :contact_name
    .control-group
      =f.label :contact_email
      .controls
        =f.text_field :contact_email
    .control-group
      =f.label :funding_source
      .controls
        =f.text_field :funding_source,:class=>"input-xxlarge"
    .control-group
      =f.label :start_date
      .controls
        =f.text_field :start_date,:class=>"input-small date","data-provide"=>"datepicker","data-date-format"=>"yyyy-mm-dd", placeholder: "yyyy-mm-dd"
    .control-group
      =f.label :end_date
      .controls
        =f.text_field :end_date,:class=>"input-small date","data-provide"=>"datepicker","data-date-format"=>"yyyy-mm-dd", placeholder: "yyyy-mm-dd"
    .control-group
      =f.label :accrual_goal
      .controls
        =f.text_field :accrual_goal,:class=>"input-mini"
    .control-group
      =f.label :min_age
      .controls
        =f.text_field :min_age,:class=>"input-mini"
    .control-group
      =f.label :max_age
      .controls
        =f.text_field :max_age,:class=>"input-mini"
    .control-group
      =f.label :inclusion_criteria
      .controls
        =f.text_area :inclusion_criteria,:class=>"wyswig"
    .control-group
      =f.label :exclusion_criteria
      .controls
        =f.text_field :exclusion_criteria,:class=>"wyswig"
    .control-group
      =f.label :website
      .controls
        =f.text_field :website,:class=>"input-xxlarge"
    .control-group
      =f.label :number_of_visits
      .controls
        =f.text_field :number_of_visits,:class=>"input-mini"
    .control-group
      =f.label :protocol_goals
      .controls
        =f.text_field :protocol_goals,:class=>"wyswig"
    .control-group
      =f.label :notes
      .controls
        =f.text_area :notes,:class=>"wyswig"
  .row-fluid
    .btn-group
      =f.button "Update",:class=>"btn btn-mini btn-success"
      =link_to "Cancel",admin_study_path(@study),:class=>"btn btn-mini btn-warning"
:javascript
  $(document).ready(function(){
    $('#admin_edit_study').validate();
  });