=form_for @study,:url=> admin_study_path(@study),:class=>"form-horizontal"  do |f|
  .row-fluid
    .control-group
      =f.label :irb_number
      .controls
        =f.text_field :irb_number
    .control-group
      =f.label :name
      .controls
        =f.text_field :name
    .control-group
      =f.label :notes
      .controls
        =f.text_area :notes,:class=>"input-block-level",:rows=>10
  .row-fluid
    .btn-group
      =f.button "Update",:class=>"btn btn-mini btn-success"
      =link_to "Cancel",admin_studies_path,:class=>"btn btn-mini btn-warning"
