=form_for @study,:url=> admin_study_path(@study),:class=>"form-horizontal"  do |f|
  .row-fluid
    .control-group
      =f.label :irb_number
      .controls
        =f.text_field :irb_number
    .control-group
      =f.label :name
      .controls
        =f.text_field :name
    .control-group
      =f.label :active_on
      .controls
        =f.text_field :active_on,:class=>"input-small","data-provide"=>"datepicker","data-date-format"=>"yyyy-mm-dd"
    .control-group
      =f.label :inactive_on
      .controls
        =f.text_field :inactive_on,:class=>"input-small","data-provide"=>"datepicker","data-date-format"=>"yyyy-mm-dd"
  .row-fluid
    .btn-group
      =f.button "Update",:class=>"btn btn-mini btn-success"
      =link_to "Cancel",admin_studies_path,:class=>"btn btn-mini btn-warning"
