#studies.row-fluid
  =link_to "Add Study",new_admin_study_path,"data-async"=>true,"data-target"=>"#studies",:class=>"btn btn-mini btn-primary"
  %table.table.bordered
    %thead
      %tr
        %th ID
        %th Irb Number
        %th Name
        %th State
        %th 
    %tbody
      -@studies.each do |study|
        %tr
          %th=study.id
          %td=study.irb_number
          %td=study.name
          %td=study.state
          %td=link_to "Edit",edit_admin_study_path(study),:class=>"btn btn-mini btn-primary"
