#studies.row-fluid
  =link_to "Add Study",new_admin_study_path,"data-async"=>true,"data-target"=>"#studies",:class=>"btn btn-mini btn-primary"
  %table.table.bordered
    %thead
      %tr
        %th Irb Number
        %th Active On
        %th Inactive On
        %th State
        %th 
    %tbody
      -@studies.each do |study|
        %tr
          %td=study.irb_number
          %td=study.active_on
          %td=study.inactive_on
          %td=study.state
          %td=link_to "Edit",edit_admin_study_path(study)
