#studies.row-fluid
  =link_to "Add Study",new_admin_study_path,"data-async"=>true,"data-target"=>"#studies",:class=>"btn btn-mini btn-primary"
  %table.table.table-bordered.table-condensed
    %thead
      %tr
        %th ID
        %th Short Title
        %th Principal Investigator
        %th Study Start Date
        %th Study End Date
        %th Desired Sample Size
        %th Total Number Release
        %th Currently Released
        %th State
        %th
    %tbody
      -@studies.each do |study|
        %tr
          %th=study.id
          %td=study.short_title
          %td=study.pi_name
          %td=study.start_date
          %td=study.end_date
          %td=study.accrual_goal
          %td=study.study_involvements.count
          %td=study.study_involvements.active.count
          %td=study.state.titleize
          %td
            .span12
              =link_to "View Details",admin_study_path(study),:class=>"btn btn-mini btn-primary"

