#studies.row-fluid
  =link_to "Add Study",new_admin_study_path,"data-async"=>true,"data-target"=>"#studies",:class=>"btn btn-mini btn-primary"
  %table.table.table-bordered.table-condensed
    %thead
      %tr
        %th ID
        %th Short Title
        %th Principal Investigator
        %th Accrual Goal
        %th Total Number Release
        %th Currently Released
        %th State
        %th
    %tbody
      -@studies.each do |study|
        %tr
          %th=study.id
          %td=study.short_title
          %td=study.pi_name 
          %td=study.accrual_goal
          %td=study.study_involvements.count
          %td=study.study_involvements.active.count
          %td=study.state
          %td
            .span12
              =link_to "View Details",admin_study_path(study)
              -if study.active?
                =form_for study ,:url=> deactivate_admin_study_path(study) do |f|
                  =link_to "Edit",edit_admin_study_path(study),:class=>"btn btn-mini btn-primary"
                  =f.button "Deactivate",:class=>"btn btn-mini btn-danger"
              -else
                =form_for study ,:url=> activate_admin_study_path(study) do |f|
                  =link_to "Edit",edit_admin_study_path(study),:class=>"btn btn-mini btn-primary"
                  =f.button "Activate",:class=>"btn btn-mini btn-success"

