=form_for @participant, :url=>admin_participant_path(@participant),:html => {:id => 'admin_participant_edit'} do |f|
  -if @participant.child?
    = render :partial => 'participant_child_proxy', :locals => {:f => f}
  -else
    .row-fluid
      %h4="Participant Information:"
    .row-fluid
      .span4
        .control-group
          =f.label :first_name, "First Name"
          .controls
            =f.text_field  :first_name, :class => "required"
      .span4
        .control-group
          =f.label :midlle_name, "Middle Name"
          .controls
            =f.text_field  :middle_name
      .span4
        .control-group
          =f.label :last_name, "Last Name"
          .controls
            -if @participant.child
              =f.text_field  :last_name
            -else
              =f.text_field  :last_name, :class => "required"
    .row-fluid
      -if @participant.child
        %h4="Household Information:"
      -else
        %h4="Contact Information:"
    .row-fluid
      .span4
        .control-group
          =f.label :address_line1, "Address Line1"
          .controls
            =f.text_field  :address_line1
      .span4
        .control-group
          =f.label :address_line2, "Address Line2"
          .controls
            =f.text_field  :address_line2
    .row-fluid
      .span4
        .control-group
          =f.label :city
          .controls
            =f.text_field  :city
      .span4
        .control-group
          =f.label :state
          .controls
            = f.select :state, us_states, { prompt: 'Select State'}
      .span4
        .control-group
          =f.label :zip
          .controls
            =f.text_field  :zip
    .row-fluid
      .span4
        .control-group
          =f.label :email, "Email Address"
          .controls
            =f.text_field :email, class: "email"
      .span4
        .control-group
          =f.label :primary_phone, "Primary Phone Number"
          .controls
            =f.text_field :primary_phone, class: "phone", placeholder: "xxx-xxx-xxxx"
      .span4
        .control-group
          =f.label :secondary_phone, "Secondary Phone Number"
          .controls
            =f.text_field :secondary_phone, class: "phone", placeholder: "xxx-xxx-xxxx"
    .row-fluid
      %h4="Primary Guardian:"
    .row-fluid
      .span4
        .control-group
          =f.label :primary_guardian_first_name, "First Name"
          .controls
            -if @participant.child
              =f.text_field :primary_guardian_first_name, :class => "required"
            -else
              =f.text_field :primary_guardian_first_name
      .span4
        .control-group
          =f.label :primary_guardian_last_name, "Last Name"
          .controls
            -if @participant.child
              =f.text_field :primary_guardian_last_name, :class => "required"
            -else
              =f.text_field :primary_guardian_last_name
      .span4
        .control-group
          =f.label :primary_guardian_email, "Email Address"
          .controls
            =f.text_field :primary_guardian_email, class: "email"
        .control-group
          =f.label :primary_guardian_phone, "Phone Number"
          .controls
            =f.text_field :primary_guardian_phone, class: "phone", placeholder: "xxx-xxx-xxxx"
    .row-fluid
      %h4="Secondary Guardian:"
    .row-fluid
      .span4
        .control-group
          =f.label :secondary_guardian_first_name, "First Name"
          .controls
            =f.text_field :secondary_guardian_first_name
      .span4
        .control-group
          =f.label :secondary_guardian_last_name, "Last Name"
          .controls
            =f.text_field :secondary_guardian_last_name
      .span4
        .control-group
          =f.label :secondary_guardian_email, "Email Address"
          .controls
            =f.text_field :secondary_guardian_email, class: "email"
        .control-group
          =f.label :secondary_guardian_phone, "Phone Number"
          .controls
            =f.text_field :secondary_guardian_phone, class: "phone", placeholder: "xxx-xxx-xxxx"
  .row-fluid
    .control-group
      =f.label :notes
      .controls
        =f.text_area :notes, :rows=>3, :class=>"input-block-level"
  .row-fluid
    =f.button "Save",:class=>"btn btn-mini btn-success"
    =link_to "Cancel", admin_participant_path(@participant), :class=>"btn btn-mini btn-warning"
:javascript
  $(document).ready(function(){
    $('#admin_participant_edit').validate();
  });
