.row-fluid
  %table.table.table-condensed.table-bordered.table-striped{:id=>'participant_list'}
    %thead
      %tr
        - %w(Name State On\ Study Last\ Update).each do |header|
          %th= header
    %tbody
      - @participants.each do |participant|
        %tr
          %td=link_to participant.name, admin_participant_path(participant)
          %td=participant.stage.titleize
          %td=participant.on_study? ? "Yes" : "No"
          %td=participant.updated_at
