=form_for @survey , :html=>{:class=>"ajax-form","data-target"=>"#forms"} do |f|
  .row-fluid
    =f.label :title
    =f.text_field :title
  .row-fluid
    .btn-group
      =f.button "update",:class=>"btn btn-mini btn-success"
      =link_to 'cancel',survey_path(@survey),"data-async"=>true,"data-target"=>"#forms",:class=>"btn btn-mini btn-warning"



