.alert.alert-success
  %h5= "#{@search.result.size} participants returned"
%table.table.bordered
  %thead
    %tr
      %th Name
      %th Current Status
      %th Last Contact
  %tbody
    -@search.result.each do |participant|
      %tr
        %td=participant.name
        %td=participant.on_study? ? "On study" : "Available"
        %td=participant.contact_logs.last.nil? ? "" : participant.contact_logs.last.date
