.release-data-ajax-form {
  margin-top: 2em;
}
.select2-container {
  input.select2-search__field {
    height: auto;
  }
}
.select2-container .select2-selection--single {
  height: auto;
}
.modal.large {
  width: 80%; /* respsonsive width */
  margin-left:-40%; /* width/2) */
}
.search-condition-group-container {
  border: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 1em;
  .search-condition-group-controls .span12{
    padding: 5px 10px;
  }
  .search-conditions, .search-condition-groups {
    padding: 10px;
    form {
      margin-bottom: 0;
    }
  }
  .search-condition-groups {
    padding-top: 0;
  }
  .search-condition-group-controls form {
    margin-bottom: 0;
  }
}
.search-condition, .search-condition-form, .search-condition-edit {
  padding-bottom: 0.5em;
}
.search-condition-group-controls {
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #888;
}
form.search-condition-group-delete {
  display: inline;
}
.search-condition-form .dataTables_info {
  margin-left: 0;
}
form#new_search_condition_group {
  padding: 5px 10px;
  margin-bottom: 0;
  background: none repeat scroll 0 0 #eee;
}
.search-instructions .span12 {
  padding: 10px;
}