-if current_user.admin? || current_user.data_manager?
  -unless Participant.verification_needed.empty?
    .row-fluid
      =link_to "#{Participant.verification_needed.size} participants awaiting verification",admin_participants_path(:state=>"verification_needed")
  -unless Search.data_requested.empty?
    .row-fluid
      =link_to "#{Search.data_requested?.size} Data Requests awaiting processing",admin_searches_path(:state=>"data_requested")
  -unless StudyInvolvement.warning.empty?
    .row-fluid
      %h4 Released participants  with approaching deadlines
    .row-fluid
      %table.table.table-bordered.table-condensed
        %thead
          %tr
            %th Participant
            %th Study
            %th release on
            %th end date
        %tbody
          -StudyInvolvement.warning.each do |si|
            %tr
              %td=link_to si.participant.name,admin_participant_path(si.participant)
              %td=si.study.name
              %td=si.start_date
              %td=si.end_date

  
-else
  .row-fluid
    %table.table.table-bordered
      %thead
        %tr
          %th Participant
          %th Study
          %th Release Date
          %th End Date
      %tbody
        -current_user.active_study_involvements.each do |si|
          %tr
            %td=link_to si.participant.name,admin_participant_path(si.participant)
            %td=si.study.name
            %td=si.start_date
            %td=si.warning_date
  .row-fluid

