=form_for @user,:url=>admin_user_path(@user),:html=>{:class=>"form-horizontal"}  do |f|
  .row-fluid
    .control-group
      =f.label :netid
      .controls
        =f.text_field :netid,:disabled=>true,:class=>"input-mini"
    .control-group
      =f.label :admin
      .controls
        =f.check_box :admin
    .control-group
      =f.label :data_manager
      .controls
        =f.check_box :data_manager
    .control-group
      =f.label :researcher
      .controls
        =f.check_box :researcher
    .control-group
      =f.label :study_tokens,"Studies"
      .controls
        =f.text_field :study_tokens,:class=>"tokeninput","data-url"=>search_admin_studies_path(:format=>:json),"data-limit"=>100,"data-hint-text"=>"Enter study name or IRB number...","data-pre"=>@user.studies.to_json(:only=>[:id],:methods=>[:search_display])
  .row-fluid
    .btn-group
      =f.button "Update",:class=>"btn btn-mini btn-success"
      =link_to "Cancel",admin_users_path,:class=>"btn btn-mini btn-warning"
