=form_for @user,:url=>admin_user_path(@user),:html=>{:class=>"form-horizontal"}  do |f|
  .row-fluid
    .control-group
      =f.label :netid
      .controls
        =f.text_field :netid,:disabled=>true
    .control-group
      =f.label :admin
      .controls
        =f.check_box :admin
    .control-group
      =f.label :researcher
      .controls
        =f.check_box :researcher
  .row-fluid
    .btn-group
      =f.button "Update",:class=>"btn btn-mini btn-success"
      =link_to "Cancel",admin_users_path,:class=>"btn btn-mini btn-warning"
