=link_to "Add To Study",new_admin_study_involvement_path(:participant_id=>participant.id),"data-async"=>true,"data-target"=>"#studies",:class=>"btn btn-mini btn-primary"
%table.table.bordered
  %thead
    %tr
      %th IRB Number
      %th Name
      %th Start Date
      %th Warning Date
      %th End Date
      %th Notes
      %th 
  %tbody
    -participant.study_involvements.each do |si|
      %tr
        %td=si.study.irb_number
        %td=si.study.name
        %td=si.start_date
        %td=si.warning_date
        %td=si.end_date
        %td=si.notes
        %th=link_to "Edit",edit_admin_study_involvement_path(si),"data-async"=>true,"data-target"=>"#studies",:class=>"btn btn-primary btn-mini"

