.row-fluid
  =link_to "New Relationship",new_admin_relationship_path(:participant_id=>participant.id),"data-async"=>true,"data-target"=>"#relationships",:class=>"btn btn-mini btn-primary"
.row-fluid
  %table.table.bordered
    %thead
      %tr
        %th Name
        %th Relationship
        %th Notes
        %th
    %tbody
      -participant.relationships.each do |relationship|
        %tr
          %td
            -p = relationship.origin.eql?(participant) ? relationship.destination : relationship.origin
            =link_to p.name, admin_participant_path(p)
          %td=relationship.origin.eql?(participant) ? relationship.category.titleize : Relationship::CATEGORIES_DESTINATION_TRANSLATION[relationship.category].titleize
          %td=relationship.notes
          %th=link_to "edit",edit_admin_relationship_path(relationship,:participant_id=>participant.id),"data-async"=>true,"data-target"=>"#relationships",:class=>"btn btn-mini btn-primary"
