=form_for @study_involvement,:url=>admin_study_involvement_path(@study_involvement), :html=>{:class=>"form-horizontal"} do |f|
  .row-fluid
    .control-group
      =f.label :study_id,"Study"
      .controls
        =f.select :study_id,Study.all.collect{|s| [s.irb_number,s.id]}
    .control-group
      =f.label :state,"Status"
      .controls
        =f.select :state,StudyInvolvement::VALID_STATES.collect{|k|[k.titleize,k]}
    .control-group
      =f.label :state_date,"Status Date"
      .controls
        =f.text_field :state_date,:class=>"input-small","data-provide"=>"datepicker","data-date-format"=>"yyyy-mm-dd"
    .control-group
      =f.label :start_date
      .controls
        =f.text_field :start_date,:class=>"input-small","data-provide"=>"datepicker","data-date-format"=>"yyyy-mm-dd"
    .control-group
      =f.label :warning_date
      .controls
        =f.text_field :warning_date,:class=>"input-small","data-provide"=>"datepicker","data-date-format"=>"yyyy-mm-dd"
    .control-group
      =f.label :end_date
      .controls
        =f.text_field :end_date,:class=>"input-small","data-provide"=>"datepicker","data-date-format"=>"yyyy-mm-dd"
    .control-group
      =f.label :notes
      .controls
        =f.text_area :notes,:rows=>3,:class=>"input-block-level"
  .row-fluid
    .btn-group
      =f.button "Update",:class=>"btn btn-mini btn-success"
      =link_to "Cancel",admin_study_involvements_path(:participant_id=>@study_involvement.participant.id),:class=>"btn btn-mini btn-warning","data-async"=>true,"data-target"=>"#studies"
