=form_for @study_involvement,:url=>admin_study_involvement_path(@study_involvement), :html=>{:class=>"form-horizontal validate-form"} do |f|
  .modal-header.well.nu-well
    .row-fluid
      %h3
        ="#{@participant.name}"
        =image_tag "child.png" if @participant.child
        =image_tag 'siblings.png' if @participant.has_relationships?
        =button_tag 'x', "data-dismiss"=>"modal", "aria-hidden"=>"true", :class=>"close"
  .modal-body
    =render :partial=>"admin/study_involvements/form", locals: {f: f}
    .row-fluid
      .control-group
        .controls
          =f.button "Update",:class=>"btn btn-primary nu-primary"
          =link_to "Cancel", admin_participant_path(@participant), :class=>"btn btn-warning"
          =link_to "Delete", admin_study_involvement_path(@study_involvement), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete this study history?" }