=form_for @study_involvement, :url=>admin_study_involvements_path, :html=>{:class=>"form-horizontal validate-form"} do |f|
  =render :partial=>"admin/study_involvements/form", locals: {f: f}
  .row-fluid
    .control-group
      .controls
        =f.button "Create",:class=>"btn btn-success"
        =link_to "Cancel", admin_participant_path(@participant), :class=>"btn btn-warning"
