%h5="#{@study.name} participants: "
%table.table.table-bordered.table-condensed
  %thead
    %tr
      %th Name
      %th Start Date
      %th End Date
      %th State
      %th State Date
  %tbody
    -@study_involvements.each do |si|
      %tr
        %td=si.participant.name
        %td=si.start_date
        %td=si.end_date
        %td="" #si.state
        %td="" #si.state_date
