%ul.nav
  %li=link_to 'Participants',participants_path
  %li.divider-vertical
  %li=link_to 'Query',new_search_path
  %li.divider-vertical
%ul.nav.pull-right
  %li.dropdown
    =link_to "#",:class=>'dropdown-toggle','data-toggle'=>"dropdown" do 
      Settings
      %b.caret
    %ul.dropdown-menu
      %li=link_to "Manage Studies",studies_path
      %li=link_to "Manage Users",users_path
      %li=link_to "Manage Instruments",surveys_path


