/ %ul.nav
/   %li=link_to 'Participants',participants_path
/   %li.divider-vertical
/   %li=link_to 'Searches',searches_path
/   %li.divider-vertical
/   -if current_user
/     %li=link_to "Logout", :logout
/     %li.divider-vertical
%ul.nav.pull-right
  -if current_user
    %li=link_to "Logout", :logout
    %li.divider-vertical
    %li=link_to "Dashboard", dashboard_path
    %li.divider-vertical
  %li.dropdown
    =link_to "#",:class=>'dropdown-toggle','data-toggle'=>"dropdown" do 
      Admin
      %b.caret
    %ul.dropdown-menu
      %li=link_to "Participants",participants_path
      %li=link_to "Searches",searches_path
      %li=link_to "Manage Studies",studies_path
      %li=link_to "Manage Users",users_path
      %li=link_to "Manage Instruments",surveys_path
      %li=link_to "Manage Consents",consents_path


