- if @current_user.has_active_participants?
  .row-fluid
    .well.well-small
      %h4="Participants"
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th="Name"
          %th="Join Date"
          %th="Status"
          %th="Pending surveys"
          %th="Options"
      %tbody
        - @current_user.active_participants.each do |participant|
          %tr
            %td=participant.name
            %td=participant.created_at.to_date
            %td
              %ul.unstyled
                -if participant.open?
                  %li
                    Incomplete
                  %li
                    =link_to "Click here to finish", enroll_participant_path(participant)
                -else
                  %li
                    Complete
            %td
              -participant.open_public_response_sets.each do |response_set|
                =link_to response_set.survey.title, edit_response_set_path(response_set)
            %td
              %ul.unstyled
                - if participant.consented?
                  %li
                    %i.icon-folder-open
                    =link_to "View Consent", consent_participant_path(participant)
                - if participant.completed?
                  %li
                    %i.icon-folder-open
                    =link_to  "View responses", enroll_participant_path(participant)
                %li
                  %i.icon-trash
                  = link_to "Withdraw", withdraw_participant_path(participant), method: :patch, confirm: "Are you sure you want to withdraw?"
