- if @current_user.has_active_participants?
  .row-fluid
    .well.well-small
      %h4="Participants"
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th="Name"
          %th="Join Date"
          %th="Consent"
          %th="Survey Status"
          %th
      %tbody
        - @current_user.active_participants.each do |participant|
          %tr
            %td=link_to participant.name, edit_participant_path(participant)
            %td=participant.consent_signatures.last.created_at.to_date
            %td=link_to "View Consent", enroll_participant_path(participant)
            -if participant.survey?
              %td
                Not started
              %td
                =link_to "Start survey", enroll_participant_path(participant)
            -elsif participant.survey_started?
              %td
                Started
              %td
                =link_to "Finish survey", enroll_participant_path(participant)
            -else
              %td
                Completed
              %td

