- if @current_user.active_participants.size > 0
  .row-fluid
    %h3="My Registry"
    %table.table.table-condensed.table-bordered.table-striped
      %thead
        %tr
          %th="Name"
          %th="Surveys"
          %th
      %tbody
        - @current_user.active_participants.each do |participant|
          %tr
            %td
              =link_to participant.name, participant_path(participant)
            %td
              %ul.unstyled
                -participant.public_response_sets.each do |response_set|
                  %li
                    -if response_set.complete?
                      =link_to response_set.display_text, response_set_path(response_set)
                    -else
                      .text-error
                        You haven't finished the survey!
                        =link_to("Click here to finish #{response_set.display_text}", edit_response_set_path(response_set))
            %td
              - if participant.consented?
                %i.icon-folder-open
                =link_to "View Consent", consent_participant_path(participant)
